*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans Pahawh Hmong', sans-serif;
    font-weight: 500;
}

:root{
    --space: 10px;
}
/* header runner */

header{
    display: flex;
    align-items: center;
    background-color: #255ee9;
    min-height: 100px;
    padding: 0 150px;
}

.left{
    flex-grow: 1;
    padding: var(--space) 0;
}

.center{
    flex-grow: 5; 
}

ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

li a{
    padding: var(--space);
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.right{
    flex-grow: 1;
    text-align: end;
}

button{
    padding: 7px 14px;
    border-radius: 40px;
    cursor: pointer;
}

/* container and sections */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 100px;
}

.container:nth-child(odd){
    background-color: #ffffff;
}

.container.even{
    background-color: #f6f6f6;
}

.wave svg{
    color: #f6f6f6;
    display: block;
    width: 100%;
}

.wave.turned{
    transform: rotate(180deg);
}

/* prima sezione */
.jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.section-jumbo{
    flex-basis: 50%;
    height: 380px;
    text-align: center;
    color: #ffffff;
}

h1{
    padding: 40px;
    font-size: 3rem;
    font-weight: bold;
}

p{
    padding: 20px;
    line-height: 30px;
}

.btn{
    padding: 12px 25px;
    border-radius: 40px;
    cursor: pointer;
    margin: 0 20px;
    font-size: 17px;
    border: 0;
}

.btn-w{
    background-color: #ffffff;
}

.btn-b{
    background-color: #23272a;
    color: #ffffff;
}

/* seconda sezione */

h2{
    font-size: 37px;
    font-weight: bold;
}

.section-w-left{
    flex-basis: 70%;
}

.section-w-right{
    flex-basis: 30%;
}

/* terza sezione */

.section-g-left{
    flex-basis: 60%;
}

.section-g-right{
    flex-basis: 35%;
}

/* ultima sezione */

.section-last{
    flex-basis: 80%;
    text-align: center;
}

.star{
    background-image: url(../img/stars.svg);
    background-position: center;
    height: 45px;
}

.btn-s{
    background-color: #8ea1e1;
    color: #ffffff;
    border: 0;
}

/* footer */

.container.footer-container{
    background-color: #23272a;
}

.footer-title{
    color: #738adc;
    text-align: start;
    padding-bottom: 20px;
}

span{
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    padding: 0 2px;
    font-size: 14px;
}

.bandiera{
    height: 16px;
}

.social{
    padding: 20px 0;
    gap: 15px;
}

.section-b-left{
    flex-basis: 30%;
    height: 380px;
}

.section-b-right{
    flex-basis: 60%;
    height: 380px;
    display: flex;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    line-height: 30px;
    font-size: 13px;
    text-align: start;
}

.title-nav{
    color: #738adc;
    text-align: start;
    padding-bottom: 10px;
}

.column{
    flex-basis: 25%;
}

/* bottoni finali */

.bottom{
    background-color: #23272a;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0 150px;
}

.footer-left{
    border: 0;
    border-top: 1px solid  #738adc;
    display: flex;
    justify-content: space-between;
}

.left-bottom{
    padding: var(--space) ;
}
